<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Bracket Overlay</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<form id="controlForm">
	<div class="row m-0 p-0" id="app-base">
		<img src="/4 Person Double Elimination Bracket Transparent.png" id="bracket"/>
		<!-- Game 1 -->
		<p class="g-1 seed0" id="g-1-h" style="left: 166px; top: 34px;">Seed 1?</p>
		<p class="g-1 seed3" id="g-1-a" style="left: 166px; top: 161px;">Seed 4?</p>
		<img src="/bracket game highlight.png" id="g-1" class="highlight d-none" />
		<!-- Game 2 -->
		<p class="g-2 seed1" id="g-2-h" style="left: 166px; top: 274px;">Seed 2?</p>
		<p class="g-2 seed2" id="g-2-a" style="left: 166px; top: 406px;">Seed 3?</p>
		<img src="/bracket game highlight.png" id="g-2" class="highlight d-none" />
		<!-- Game 3 -->
		<p class="g-3" id="g-3-h" style="left: 558px; top: 113px;"></p>
		<p class="g-3" id="g-3-a" style="left: 558px; top: 349px;"></p>
		<img src="/bracket game highlight.png" id="g-3" class="highlight d-none" />
		<!-- Game 4 -->
		<p class="g-4" id="g-4-h" style="left: 166px; top: 706px;"></p>
		<p class="g-4" id="g-4-a" style="left: 166px; top: 836px;"></p>
		<img src="/bracket game highlight.png" id="g-4" class="highlight d-none" />
		<!-- Game 5 -->
		<p class="g-5" id="g-5-h" style="left: 558px; top: 623px;"></p>
		<p class="g-5" id="g-5-a" style="left: 558px; top: 751px;"></p>
		<img src="/bracket game highlight.png" id="g-5" class="highlight d-none" />
		<!-- Game 6 -->
		<p class="g-6" id="g-6-h" style="left: 941px; top: 221px;"></p>
		<p class="g-6" id="g-6-a" style="left: 941px; top: 681px;"></p>
		<img src="/bracket game highlight.png" id="g-6" class="highlight d-none" />
		<!-- Game 7 -->
		<p class="g-7" id="g-7-h" style="left: 1313px; top: 444px;"></p>
		<p class="g-7" id="g-7-a" style="left: 1313px; top: 804px;"></p>
		<img src="/bracket game highlight.png" id="g-7" class="highlight d-none" />
		<!-- Game 8 -->
		<p class="g-8" id="g-8-h" style="left: 1545px; top: 621px;"></p>
	</div>
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='scripts.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
		integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
		crossorigin="anonymous"></script>

</body>
</html>
